<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DATABASE_NAME" value="sample.sqlite"/>
    <add key="DATABASE_PATH" value=""/>
  </appSettings>
</configuration>